
    <footer class="container py-3 my-4 border-top mt-auto">
        <h6 class="text-muted" style="text-align: center;">&copy; 2022 RideWithMe by Sanchit</h6>
    </footer>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>