<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/publish" method="post">
        <input type="text" name="starting" id="" placeholder="leaving from..." required>
        <input type="text" name="going" id="" placeholder="going to..." required>
        <input type="date" name="date" id="" required>
        <input type="number" name="seats" id="" placeholder="seats" min="1" max="7" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>