<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= ride.date %> Seats available: <%= ride.seats %> </h1>
    <% if(check == "false"){ %> 
    <form action="/rides/<%= ride._id %>" method="post">
        <input type="number" name="seats" id="" placeholder="Seats" min="1" max="<%= ride.seats %>">
        <button type="submit">Book Ride</button>
    </form>
    <% } %> 
</body>
</html>