<%- include('app_partials/header')%> 

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Scroll, click, tap</h1>
      <h1 class="display-4 fw-bold lh-1 mb-3">and go!</h1>
      <p class="col-lg-10 fs-4">No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of destinations and routes at low prices.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" action="/" method="post">
        <div class="form-floating mb-3">
          <input type="text" name="starting" id="start" placeholder="Leaving from..." required class="form-control" id="floatingInput">
          <label for="start">Leaving from...</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="end" placeholder="Going to..." name="going" required>
          <label for="end">Going to...</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="Date" placeholder="Date" name="date" required>
          <label for="Date">Date</label>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-lg btn-primary button" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<%- include('app_partials/footer') %> 